<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  <% end %>

  window.images = {
    phones: "<%= image_path('phones.png') %>",
    logo: "<%= image_path('selfieLogo.png') %>",
    logout: "<%= image_path('logout.png') %>",
    upload: "<%= image_path('upload1600.png') %>",
    profile: "<%= image_path('user.png') %>",
    comment: "<%= image_path('comment.png') %>",
    compass: "<%= image_path('compass.png') %>"
  }
</script>



<main id="root"></main>
